:root {
    /* https://coolors.co/7ddf64-ffffff-ffcad4-f4acb7-7c6354 */
    --primary-background: #ffffff;
    --primary-text: #F4ACB7;
    --secondary-text: #7C6354;
    --secondary: #7DDF64;
    --highlight: #FFCAD4;
}